//Variables
$baseBlue: #1d428a;
$fontBase: 'Roboto', sans-serif;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

// Header
.navbar-logo{
  &--background{
    background:$baseBlue;
  }
  &__text{

  font-family: $fontBase;
  Vertical-align: bottom;
}

}

//Search

.top-bar {
    // height: 35px;
     width: 100%;
    // padding-top: 5px;
    // background-color: #000;
    
}
.search-container {
    max-width: 950px;
    margin: auto;
    padding-right: 10px;
    display: flex;
    content-justify: flex-end;
}
.search {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 75px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    float: right;
}
.search:focus {
    width: 200px;
}
.search {
   width: 75px;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}
.search:focus {
   width: 200px;
}

//Cards
.card{
  width: 260px;
  flex-wrap: wrap;
  // align-content: space-between;
  justify-content: space-between;
}