/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5; }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

code {
  font-size: 80%; }

.navbar-logo--background {
  background: #1d428a; }

.navbar-logo__text {
  font-family: "Roboto", sans-serif;
  Vertical-align: bottom; }

.top-bar {
  width: 100%; }

.search-container {
  max-width: 950px;
  margin: auto;
  padding-right: 10px;
  display: flex;
  content-justify: flex-end; }

.search {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 75px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  float: right; }

.search:focus {
  width: 200px; }

.search {
  width: 75px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease; }

.search:focus {
  width: 200px; }

.card {
  width: 260px;
  float: left;
  margin: 20px 8px !important; }

.card .card-content {
  padding: 20px !important; }

.card .card-title {
  font-size: 20px !important; }
