/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5; }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

code {
  font-size: 80%; }

.navbar-logo--background {
  background: #1d428a; }

.navbar-logo__text {
  font-family: "Roboto", sans-serif;
  Vertical-align: bottom; }

.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  width: 260px; }

.card .card-image {
  position: relative; }

.waves-block {
  display: block; }

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; }

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%; }

.waves-effect img {
  position: relative;
  z-index: -1; }

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px; }

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px; }

.card .card-title.activator {
  cursor: pointer; }

.card .card-title {
  font-size: 24px;
  font-weight: 300; }

.grey-text.text-darken-4 {
  color: #212121 !important; }

.card .card-content p {
  margin: 0; }

.card-panel span, .card-content p {
  -webkit-font-smoothing: antialiased; }

.card .card-reveal {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none; }

.card .card-reveal .card-title {
  cursor: pointer;
  display: block; }

.card .card-title {
  font-size: 24px;
  font-weight: 300; }
